<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application android:supportsRtl="true">
        <activity
            android:name="io.ente.photos.WallpaperActivity"
            android:exported="false"
            android:enableOnBackInvokedCallback="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:label="@string/wallpaper"
            android:theme="@style/WallpaperTheme">
        </activity>
    </application>
</manifest>
