/.github/ @ua741 @mnvr-sudo
/server/ @ua741 @mnvr-sudo
/mobile/packages/ente_components/ @ashilkn @AmanRajSinghMourya
/rust/crates/photos/src/ml/ @laurenspriem @mnvr-sudo
/rust/crates/image/ @laurenspriem @mnvr-sudo
