{{template "base" .}} {{define "content"}}
<h2>Ente Friends - Leave Me Alone voucher code</h2>

<p>Hello,</p>

<p>Use voucher code <strong>{{.CouponCode}}</strong> for one of these offers:</p>

<ul>
  <li>10% off Leave Me Alone's 7 day pass</li>
  <li>45% off Leave Me Alone's Yearly Casual Plan</li>
  <li>65% off Leave Me Alone's Yearly InboxZero Hero plan</li>
</ul>

<p>
  Redeem your voucher code at
  <a href="https://app.leavemealone.com/signup/voucher">https://app.leavemealone.com/signup/voucher</a>.
</p>

<p>
  Best,<br />
  Team Ente
</p>

{{end}}
